/* =================== imported fonts =================== */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";

/* ---------- sub-header ---------- */

/* =================== global variables =================== */
@theme inline {
	--color-primary-black: #211B1E;
	--color-primary-background: #E9D9DC;
	--color-primary-dark-pink: #971C43;
	--color-primary-medium-pink: #DE9BB0;
	--color-primary-light-pink: #FCF8FA;
}


/* =================== base page styles =================== */
body {
	font-family: "Ubuntu", sans-serif;
	background-color: var(--color-primary-background);
}

/* =================== font styles =================== */

h1,
h2 {
	color: var(--color-primary-dark-pink);
}

button.pink {
	background-color: var(--color-primary-dark-pink);
	transition: background-color 300ms ease-out;
}

button.pink:hover {
	background-color: #771534;
	color: white;
}

/* =================== constants =================== */
.horizontal-media-scroller {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: min-content;
	align-items: start;
	gap: 1rem;

	overflow-x: auto;
	overscroll-behavior-inline: contain;
}

/* =================== media queries =================== */